.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  background-color: lightgrey;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin-bottom: 64px;
}

.title {
  font-size: 64px;
}
